
body {
  max-width: 100vw;
  min-height: 100vh;
  padding:0;
}

main {
  padding: 15px;
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

pre>code {
  overflow: auto;
}

.table-wrapper{
  overflow: auto;

}
table {
  width: max-content;

}
td {
  max-width: 15em;
}

/* 布局测试 */
/*
body{
  background: repeating-linear-gradient(135deg, #f2f2f2, #f2f2f2 20px, #fff 20px, #fff 40px);
}
table {
  background: repeating-linear-gradient(90deg, hsl(0,100%,90%), hsl(0,100%, 90%) 10px, #fff 10px, #fff 20px);
}
tbody {
  background: repeating-linear-gradient(180deg, hsl(200,100%,95%), hsl(200,100%, 95%) 10px, #fff 10px, #fff 20px);
}*/



* {
  box-sizing: border-box;
}
