<!DOCTYPE html>
<html lang="zh-hans">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>{{title}}</title>

    <!-- <link rel="stylesheet" href=".css"> -->
    <script>page_attr = {{page_attr|default('{}')}}</script>

    <style>{{ 'jc/normalize.css' | cat | safe}}</style>
    <style>{{ 'jc/skeleton.css' | cat | safe }}</style>
    <style>{{ 'jc/global.css' | cat | safe }}</style>
    <style>
      {% block style %}
      {% endblock %}
    </style>
    <style>{{ css | safe }}</style>
  </head>
  <body>
    {% block body %}
      ...
    {% endblock %}
    <script>
      {{ 'jc/global.js' |cat|safe }}
    </script>
    {% block body_end %}
      <script>console.log(new Datw() + ' End html')</script>
    {% endblock %}
  </body>
</html>
